{% load static %}

{% for item in post_random %}
<div class="col-lg-6 col-md-6">
  <div class="post-box">
    {% if item.image %}
    <div class="post-img">
      <img
        src="{{item.image.url}}"
        class="img-fluid rounded"
        alt=""
      />
    </div>
    {% endif %}
    <div class="post-box-content">
      <div class="post-meta">
        <span><i class="mdi mdi-account me-2"></i><a href="#">{{item.user}}</a></span>
        <span><i class="mdi mdi-calendar me-2"></i>{{item.created_date}}</span>
      </div>
      <h3 class="mt-3">
        <a href="{% url 'post_detail' id=item.id slug=item.slug %}" class="blog-post-title f-22"
          >{{item.title}}</a
        >
      </h3>
      <p class="mt-2 pt-1 text-muted">
        {{item.content|truncatewords:15|linebreaks}}
      </p>
      <div class="mt-4">
        <a href="{% url 'post_detail' id=item.id slug=item.slug %}" class="text-primary read-more"
          >Read more <i class="mdi mdi-arrow-right ms-1"></i
        ></a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
