<!-- NAVBAR START -->
{% load static %} 
    <nav class="navbar navbar-expand-lg defaultscroll shadow-none fixed-top navbar-sticky p-0 navbar-header">
        <div class="container">
            <a href="#" class="logo-mobile d-lg-none">
                <img src="" alt="" class="logo-light" height="40" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">

                <div class="topbar-social d-none d-lg-block">
                    <div class="d-flex align-items-center">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-google-plus"></i></a>
                            </li>
                        </ul>

                    </div>
                </div>
                <ul class="navbar-nav mx-auto">

                    <li class="nav-item dropdown dropdown-hover">
                        <a class="nav-link"  href="/">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>

                     <li class="nav-item">
                        <a class="nav-link" href="about.html">Books</a>
                    </li>

                </ul>

                <div class="topbar-search d-flex justify-content-end d-none d-lg-block">
                    <ul class="navbar-nav mx-auto m-2">
                        <li class="list-inline-item pe-3 me-0 shop-icon">
                            <div class="topbar-shop">
                                <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
                                    aria-controls="offcanvasTop"><i class="mdi mdi-magnify">
                                </i></a>
                            </div>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown dropdown-hover">
                            <a class="nav-link dropdown-toggle arrow-none m-1" data-toggle="dropdown" href="" role="button"
                                aria-haspopup="true" aria-expanded="false">{{ user }}
                                <i class="mdi mdi-chevron-down down-arrow"></i>
                            </a>

                            <div class="dropdown-menu nav-dropdown-menu">
                                <div class="nav-item dropdown dropdown-hover">
                                    <a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a>
                                    <a class="dropdown-item" href="{% url 'account_email' %}">Change E-mail</a>                                   
                                </div>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link m-1" href="{% url 'account_login' %}">Sign In</a>
                        </li>


                        {% endif %}
                    </ul>
                </div>

            </div>
        </div>
    </nav>
    <!-- NAVBAR END -->
    
