/* default.css */

/* COLOR */


.post-meta a:hover, .blog-post-title:hover ,.text-primary,
    .dropdown .dropdown-menu .dropdown-item:hover,
    .dropdown .dropdown-menu .dropdown-item:active,
    .dropdown .dropdown-menu .dropdown-item:focus,
    .dropdown .dropdown-menu .dropdown-item.active,
    .dropup .dropdown-menu .dropdown-item:hover,
    .dropup .dropdown-menu .dropdown-item:active,
    .dropup .dropdown-menu .dropdown-item:focus,
    .dropup .dropdown-menu .dropdown-item.active,
    .dropright .dropdown-menu .dropdown-item:hover,
    .dropright .dropdown-menu .dropdown-item:active,
    .dropright .dropdown-menu .dropdown-item:focus,
    .dropright .dropdown-menu .dropdown-item.active,
    .dropleft .dropdown-menu .dropdown-item:hover,
    .dropleft .dropdown-menu .dropdown-item:active,
    .dropleft .dropdown-menu .dropdown-item:focus,
    .dropleft .dropdown-menu .dropdown-item.active , .link-post-content i{
      color: #f1b453 !important;
    }
    
    
    /* BACKGROUND */
    .bg-primary,
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
    .tags a:hover,
    .pagination > li > a:hover,
    .pagination > li > a:focus,
    .pagination > li > span:hover,
    .pagination > li > span:focus ,
    
    .pagination > .active > a,
    .pagination > .active > a:focus,
    .pagination > .active > a:hover,
    .pagination > .active > span,
    .pagination > .active > span:focus,
    .pagination > .active > span:hover,
    .footer-social li a:hover i{
            background-color: #f1b453 !important;
    }


    /* BORDER-COLOR */
    
    .btn-primary,
    .pagination > li > a:hover,
    .pagination > li > a:focus,
    .pagination > li > span:hover,
    .pagination > li > span:focus 
    , .pagination > .active > a,
    .pagination > .active > a:focus,
    .pagination > .active > a:hover,
    .pagination > .active > span,
    .pagination > .active > span:focus,
    .pagination > .active > span:hover,
    .left-sidebar-title h4 , .custom-form .form-control:focus
    ,.popular-border, .blockquote,.link-post-content,.border-primary
    {
      border-color: #f1b453 !important;
    }

    
    @media (min-width: 200px) and (max-width: 991px) {
        .navbar-custom .navbar-nav li.active a,
        .navbar-custom .navbar-nav li a:hover,
        .navbar-custom .navbar-nav li a:active {
            color: #f1b453 !important;
        }
    }