<!-- Section to display comments -->
<h2>Comments</h2>

<!-- Form to add comments (if the user is authenticated) -->

    <form method="POST" action="{% url 'addcomment' id=article.id %}">
        {% csrf_token %}
        {{ comment_form.as_p }} {# Use comment_form instead of form #}

        <input type="hidden" name="article_id" value="{{ article.id }}">

        <button class="btn btn-primary" type="submit">Add Comment</button>
    </form>

    <!-- Display comments if there are any -->
    {% if total > 0 %}       

        <div class="mt-5">
            <h5 class="f-18">{{ total }} Comments</h5>

            <div class="blog-comments-area mt-4 pt-4">


            <!--___________COMMENTS___________-->
       
            {% for comment in comments %}
            <div class="comment-section border-bottom pb-4">
                <div class="d-flex">
                    <img src="images/hero.jpg" class="rounded-circle" style="height: 70px;" alt="img">
                    <div class="flex-1 ms-4">
                        <div class="post-meta float-end">
                            <span><i class="mdi mdi-calendar me-2"></i>
                                {{ comment.created_at|date:"d/m/Y" }}
                            </span>
                        </div>
                        <h5 class="f-16 text-capitalize">
                            {{ comment.user.username }}
                        </h5>
                        <p class="text">
                            <b> {{ comment.text }} </b>
                        </p>
                        <div class="mt-4">
                            <!-- Replies -->

                            {% for reply in comment.replies.all %}
                            <div class="media p-3">
                                <img src="" alt="img" class="mr-3 mt-0 rounded-circle" style="width:45px;" >
                                <div class="media-body">                                     
                                    <div class="post-meta float-end">
                                    <span><i class="mdi mdi-calendar me-2"></i> 
                                        {{ reply.created_at|date:"d/m/Y" }}
                                    </span>
                                    </div>
                                    <h5 class="f-16 text-capitalize">{{ reply.user }} </h5>
                                    <p><b>{{ reply.reply_text }}</b></p>
                                </div>
                            </div>
                            {% endfor %}
                            
                            <!-- Formulário para responder -->
                            <form method="POST" action="{% url 'add_reply' comment.id %}">                          
                                {% csrf_token %}
                                <input type="hidden" name="reply_content" value="{{ comment.id }}"> <!-- Use o ID do comentário -->
                                {{ reply_form.as_p }}
                                <i class="mdi mdi-reply me-1"></i>
                                <input type="submit" name="reply_form" value="Reply" class="btn btn-warning btn-sm">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
       </div>
    </div>          
       

    <!-- Display a message if there are no comments -->
    {% else %}
        <h4>Be the first to comment on this post</h4>
    {% endif %}


