{% extends "base/base.html" %} 
{% load static %} 


{% block content %}

    
    {% include 'base/header.html' %}

    <!-- START SLIDER-HOME -->

    {% include 'partials/slider_header.html' %}
    
    <!-- END HOME SLIDER -->

    <!-- START BLOG-POST -->
    <section class="section">
        <div class="container">
           <div class="row">
            <div class="col-lg-8">
                
                <!-- LATESTED POST -->
                {% include 'partials/last_post.html' %}
                <!-- END OF LATESTED -->


                <!-- RANDON POST -->

                <div class="row">
                   
                {% include 'partials/random_post.html' %}

                </div>
                <!-- END OF RANDON POST -->


                <!-- QUOTE -->

                <div class="post-box">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="post-box-content m-0">
                                <div class="blog-index">
                                    <div class="post-format-quote text-center">
                                        <div class="link-post-content">
                                            <i class="mdi mdi-format-quote-open display-6"></i>
                                            <h4><a href="" class="text-dark f-20">Quote</a></h4>
                                            <h3 class="mt-3"><a href="" class="blog-post-title f-22"><!--adicionar o quote aqui--></a></h3>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- END OF QUOTE -->

                <!-- LIST OF POST -->

                {% include 'partials/post_list.html' %}

                <!-- END OF LIST POST -->


            </div>
            <!-- SIDEBAR -->

             {% include 'partials/sidebar.html' %}       

            <!-- SIDEBAR -->
           </div>
        </div>
    </section>
    <!-- END BLOG-POST -->



{% endblock content %}
