{% extends "base/base.html" %} 
{% load static %} 
{% load embed_video_tags %}


{% block content %}

<!-- LOGO START -->
    
{% include 'base/header.html' %}
<!-- LOGO END -->

    <!-- START TITLE -->
    <section class="section" style="background: url{% static 'images/header.1.jpg' %} center center;">
        
        <div class="bg-overlay-header"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="title-heading text-center">
                        <h2 class="home-title text-capitalize"><a href="">{{article.title}}</a></h2>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END TITLE -->

            <!-- Mensagem de confirmação de envio -->
            {% if messages %}
            <br />
            {% for message in messages %}
            <section class="alert {{message.tags}}">{{message}}</section>
            {% endfor %} 
            {% endif %}


     <!-- START BLOG-POST -->
     <section class="section">
        <div class="container">
           <div class="row">
            <div class="col-lg-8">                
                <div class="post-box">
                    {% if article.image %}
                    <div class="post-img">
                        <img src="{{article.image.url}}" class="img-fluid" alt="">
                    </div>
                    {% endif %}
                    <div class="audio-vidio-post pt-4">
                        <div class="post-meta">
                            <span><i class="mdi mdi-account me-2"></i><a href="#">{{article.user}}</a></span>
                            <span><i class="mdi mdi-calendar me-2"></i>{{article.created_date}}</span>
                        </div>
                        <h3 class="mt-3 py-1">
                            <a href=""class="text-black">
                                {{article.title|default:""}}
                            </a>
                        </h3>
                        <p class="mt-3">{{article.content|default:""}}</p> 
                    </div>
<!-- +++++++++++++++++++ POST DETAIL  ++++++++++++++++++++++++-->
                {% for item in post %}                 
                    <div class="audio-vidio-post pt-4">

                        <h3 class="mt-3 py-1">  
                            <a href=""class="text-black">
                                {{item.title|default:""}}
                            </a>
                        </h3>
                        <p class="mt-3">{{item.content|default:""}}</p> 
                    </div>
                    {% if item.image %}
                    <div class="post-img">
                        <img src="{{item.image.url}}" class="img-fluid" alt="">
                    </div>
                    {% endif %}
                 
                     <div class="audio-vidio-post pt-4">
                    <!-- video -->
                    {% if item.video  %}
                   
                        <div class="video d-flex justify-content-center mb-3">
                       
                            <div id="player-overlay">
                                <video controls>
                                    <source src="{{item.video.url}}" type="video/mp4">                  
                                </video>
                            </div>                        
                        </div>    
                   
                    {% endif %}  

                    <!-- Youtube video --> 

                    <div class="video d-flex justify-content-center mb-3">
                        {% video item.link_video 'small' %}
                    </div> 
                </div>

                {% endfor %}     
<!--+++++++++++++++++++++ END OF POST ++++++++++++++++++-->

<!-- ************* COMMENTS-START **********-->

{% include 'blog/addcomment.html' %}

<!-- *************  COMMENTS-STOP ***********-->
                   
                  
             

                </div>

            </div>
    <!-- SIDEBAR -->

    {% include 'partials/sidebar.html' %}       

    <!-- SIDEBAR -->

        </div>
    </div>
</section>

{% endblock content %}

   