//
// helper.scss
//

.section {
    /*padding-top: 120px;
    padding-bottom: 120px;*/
    position: relative;
}

.vertical-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.btn {
    font-size: 13px;
    padding: 0.6rem 1.2rem;
    transition: all 0.4s;
    border-radius: 5px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    &:hover {
        outline: none;
        text-decoration: none;
        transform: translateY(-4px);
    }
}

.read-more{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.btn-sm {
    padding: 0.3rem 0.8rem;
    font-size: 12px;
}

.btn-rounded {
    border-radius: 30px;
}

// font-size

.f-12 {
    font-size: 12px !important;
}

.f-14 {
    font-size: 14px !important;
}

.f-15 {
    font-size: 15px !important;
}

.f-16 {
    font-size: 16px !important;
}

.f-17 {
    font-size: 17px !important;
}

.f-18 {
    font-size: 18px !important;
}

.f-19 {
    font-size: 19px !important;
}

.f-20 {
    font-size: 20px !important;
}

.f-22 {
    font-size: 22px !important;
}

.f-24 {
    font-size: 24px !important;
}

.f-30 {
    font-size: 30px !important;
}

// line-height

.line-height_1_4 {
    line-height: 1.4;
}

.line-height_1_6 {
    line-height: 1.6;
}

.line-height_1_8 {
    line-height: 1.8;
}

// Letter-spacing

.letter-spacing-1 {
    letter-spacing: 1px;
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

.letter-spacing-3 {
    letter-spacing: 3px;
}

.letter-spacing-4 {
    letter-spacing: 4px;
}

// box-shadow

.box-shadow {
    box-shadow: 0 0 40px rgba(95, 125, 149, 0.1);
}
.box-shadow-lg {
    box-shadow: 0 5px 35px 0 rgba(95, 125, 149, 0.15);
}

.bg-gradient {
    background: linear-gradient(to top, #090653, #06009e);
}

// Rounded

.r-5 {
    border-radius: 5px;
}

.r-10 {
    border-radius: 10px;
}

.r-15 {
    border-radius: 15px;
}

.r-20 {
    border-radius: 20px;
}



.bg-overlay {
    background: linear-gradient(transparent 50%,rgba($dark,.5) 61%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.bg-overlay-header{
    background: rgba($dark,.2);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

// avater
.avatar-xs {
    height: 2rem;
    width: 2rem;
}

.avatar-sm {
    height: 3rem;
    width: 3rem;
}

.avatar-md {
    height: 3.5rem;
    width: 3.5rem;
}

.avatar-lg {
    height: 6rem;
    width: 6rem;
}

.avatar-xl {
    height: 7.5rem;
    width: 7.5rem;
}

.avatar-xxl {
    height: 10rem;
    width: 10rem;
}

// title

.title-heading {
    h2{
        a {
            font-size: 30px;
            color: $white;
        }
    }
    span{
        color: $white;
        font-size: 16px;
        a{
            color: $white;
        }
    }
}

