{% extends "base/base.html" %} 
{% load static %} 


{% block content %}

{% include 'base/header.html' %}

<body>    
    <!-- START SLIDER-HOME -->

    <!-- START TITLE -->
    <section class="section" style="background: url(./images/header-1.jpg) center center;">
        <div class="bg-overlay-header"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="title-heading text-center">
                        <h2 class="home-title text-capitalize"><a href="">About Us</a></h2>                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END TITLE -->

     <!-- START BLOG-ABOUT-US -->
     <section class="section mb-4">
        <div class="container">
           <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="post-box mb-0">
                    {% for item in text %}
                    {% if item.image %}
                    <div class="post-img">
                        <img src="{{item.image.url}}" class="img-fluid" alt="">
                    </div>
                    {% endif %}
                    
                    <div class="post-box-content">
                            <p class="text-muted">{{ item.description }}</p>
                    {% endfor %}
                            <blockquote class="blockquote p-4 bg-light mt-5">
                                <h6 class="f-18 text-muted mb-4 line-height_1_6">Podemos adicionar o 'quote' aqui tbm</h6>
                                <p class="f-15 mb-0 text-end">- Someone famous in Source Title</p>
                            </blockquote>                            
                    </div>                    
                </div>
            </div>
           </div>
        </div>
    </section>
    <!-- END BLOG-POST -->
</body>

{% endblock %}

</html>